
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags --> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin Page</title>
  <!-- base:css -->
  <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/base/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/jquery-bar-rating/fontawesome-stars-o.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/jquery-bar-rating/fontawesome-stars.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css1/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images1/favicon.png' %}" />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="" href="index.html"><img src="{% static 'img/Logo1.png' %}" alt="logo" style="width: 85pt;height: 75pt;"/></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'images1/logo-mini.svg' %}" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <!-- <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Search Projects.." aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul> -->
        <ul class="navbar-nav navbar-nav-right">
            <!-- <li class="nav-item dropdown d-lg-flex d-none">
                <button type="button" class="btn btn-info font-weight-bold">+ Create New</button>
            </li> -->
          <li class="nav-item dropdown d-flex">
            <!-- <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
              <i class="icon-air-play mx-0"></i>
            </a> -->
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                    <img src="{% static 'images1/faces/face4.jpg' %}" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">David Grey
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    The meeting is cancelled
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                    <img src="{% static 'images1/faces/face2.jpg' %}" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Tim Cook
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    New product launch
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                    <img src="{% static 'images1/faces/face3.jpg' %}" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal"> Johnson
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Upcoming board meeting
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown d-flex mr-4 ">
            <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-cog"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Settings</p>
              <!-- <a class="dropdown-item preview-item">               
                  <i class="icon-head"></i> Profile
              </a> -->
              <a class="dropdown-item preview-item" href="/">
                <i class="icon-heart"></i> Logout
              </a>
            </div>
          </li>
          <!-- <li class="nav-item dropdown mr-4 d-lg-flex d-none">
            <a class="nav-link count-indicatord-flex align-item s-center justify-content-center" href="#">
              <i class="icon-grid"></i>
            </a>
          </li> -->
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->{% block userblock %}
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="user-profile">
          <div class="user-image">
            <img src="{{ obje.profile_pic.url }}">
          </div>
          <div class="user-name">
            {{obje.name}}
          </div>
          <div class="user-designation">
            {{obje.email}}
          </div>
        </div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin' %}">
              <i class="icon-box menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'comp' %}">
              <i class="icon-file menu-icon"></i>
              <span class="menu-title">View Complaints</span>
            </a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="{% static 'pages/forms/complaints.html' %}" aria-expanded="false" aria-controls="ui-basic">
               <i class="icon-disc menu-icon"></i>
              <span class="menu-title">View Complaints</span>
              <i class="menu-arrow"></i>
            </a>
             <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% static 'pages/ui-features/buttons.html' %}">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% static 'pages/ui-features/typography.html' %}">Typography</a></li>
              </ul>
            </div> 
          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'forComp' %}">
              <i class="icon-help menu-icon"></i>
              <span class="menu-title">Forwarded Complaints</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'resolved_complaints' %}">
              <i class="icon-book menu-icon"></i>
              <span class="menu-title">Resolved Complaints</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'rejected_complaints' %}">
              <i class="icon-book menu-icon"></i>
              <span class="menu-title">Rejected Complaints</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'notification' %}">
              <i class="icon-command menu-icon"></i>
              <span class="menu-title">Notifications</span>
            </a>
          </li>
          
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        
        <div class="content-wrapper">
            <div class="row">
              <!-- <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Complaint solution form</h4>
                    <p class="card-description">
                       Basic form layout 
                    </p> -->























              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Complaint Details</h4>
                    <p class="card-description">
                    <div class="container carousel-inner no-padding">
                        <div class="carousel-item active">
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <div class="card" style="width: 18rem;">
                                    <img src='{{cont.image}}' class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Title : {{cont.title}}</h5>
                                            <h3 class="card-title">Category : {{cont.category}}</h3>
                                            <h3 class="card-title">Location : {{cont.location}}</h3>
                                            <h3 class="card-title">Status : {{cont.status}}</h3>
                                            <!-- <h3 class="card-title">{{cont.title}}</h3> -->
                                            <p class="card-text"><h3 class="card-title">Description :</h3>{{cont.desc}}</p>
                                                
                                        </div>
                                        
                                </div>
                                
                            </div>
                            
                        </div>
                     </div>
                     <br>
                     <a href="{% url 'complaint_status_update' pk=cont.id x=0 %}">
                     <button type="button" class="btn btn-primary btn-icon-text" >
                      <i class="mdi mdi-file-check btn-icon-prepend"></i>
                      Resolved
                    </button></a>
                    <a href="{% url 'complaint_status_update' pk=cont.id x=1 %}">
                    <button type="button" class="btn btn-success btn-icon-text" >
                     <i class="mdi mdi-alert btn-icon-prepend"></i>                                                    
                     Rejected
                   </button></a>
                </div>
                </div>
                </div>
                </div>
          {% endblock %}
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019 <a href="https://www.bootstrapdash.com/" target="_blank" class="text-muted">bootstrapdash</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="icon-heart"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- base:js -->
  <script src="{% static 'vendors/base/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'js1/off-canvas.js' %}"></script>
  <script src="{% static 'js1/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js1/template.js' %}"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendors/jquery-bar-rating/jquery.barrating.min.js' %}"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="{% static 'js1/dashboard.js' %}"></script>
  <!-- End custom js for this page-->
</body>

</html>

